body {
    background: #dadde1;
    font-family: 'Playfair Display', serif;
        font-family: 'PT Mono', monospace;
        font-family: 'Roboto Mono', monospace;
}

.logo {
        display: block;
            margin-right: auto;
            width: 40px;
}
div {
    display: block;
}

*,
:after,
:before {
    box-sizing: border-box;
}
.weather {
    text-align: center;
}
.city {
    text-align: center;
}
.date{
    text-align: center;
    color:gray ;
}
.wednesday-weather {
    text-align: center;
}
.temp {
    text-align: center;
    color: lightblue;
    font-size: 40px;
}
.units {
    text-align: center;
}
.description {
    text-align: center;
    font-size: large;
    color: gray;
}
.wind {
    text-align: center;
}
.developer {
    text-align: center;
}

.container {
    width:  600px;
    background: white;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 20px;
    font-family: 'Playfair Display', serif;
        font-family: 'PT Mono', monospace;
        font-family: 'Roboto Mono', monospace;




    
}

.search {
    width: 300px;
    height: 50px;
    text-align: center;
    border: 2px solid lightblue;
    border-radius: 6px ;
    

}

.button {
    border: 2px solid lightpink;
    border-radius: 6px;
    width: 100px;
    height: 50px;
}

.humidity {
    color: grey;
    text-align: center;
    
    
}

.wind
{
    color: gray;
}

hr {
    color: lightpink;
    border: 1px solid;
}










